/* Reset some default styles */
body, h1, h2, ul, li, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

header {
    background-color: #eee;
    padding: 20px;
    text-align: center;
}

header img {
    max-width: 100px;
    height: auto;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

#advertisement1 {
    width: 100%;
    height: auto;
}

.content {
    height: 500px;
    margin: 20px;
}


.fixed-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #333;
}

img, video {
    width: 100%;
    height: auto;
    max-width: 100%; 
}


.animated-image {
    display: none; 
}

